* {
    margin: 0;
    padding: 0;
    font-family: playfair;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;

}
.wavy
{
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.wavy span
{
    position: relative;
    display: inline-block;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    animation: Goup 5s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes Goup
{
    0%
    {
        transform: translateY(0px);
    }

    20%
    {
        transform: translateY(-20px);
    }

    40%, 100%
    {
        transform: translateY(0px);
    }
}

.stone span
{
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: underline;;
    font-size: 2em;
    text-transform: uppercase;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}
